<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Redirect to HTTPS -->
                <rule name="Redirect to HTTPS" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
                </rule>
                
                <!-- ReactJS Routes -->
                <rule name="ReactJS Routes" stopProcessing="true">
                    <!-- Match all URLs -->
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <!-- Ignore existing files -->
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <!-- Ignore existing directories -->
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <!-- Rewrite all other URLs to index.html -->
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>

        <!-- CORS Configuration -->
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="http://localhost:5174" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
